.sidebar_container {
  min-width: 25%;
  height: 100vh;
  box-shadow: 1.5px 1.5px 5.5px;
  padding: 5px;
}

.sidebar_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 20px;
}

.sidebar_header h2 {
  font-size: 1.75rem;
  padding-left: 20px;
}

.sidebar_menu_container {
  width: 100%;
}

.sidebar_section {
}

.sidebar_section h2 {
  font-size: 1rem;
  margin-left: 20px;
  color: #9ba3af;
  font-weight: 400;
}

.sidebar_content {
  width: auto;
  /* margin-left: 30px; */
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  transition: 0.5s;
  border-radius: 10px;
}

.sidebar_item {
  margin: 15px 5px;
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
}

.sidebar_content:hover {
  background: #fb9677;
  transition: 0.5s;
  cursor: pointer;
}

.sidebar_footer {
  cursor: pointer;
  display: flex;
  padding: 20px 20px;
  font-size: 1.5rem;
}

.orange:hover {
  background: #fb9677;
}

.dark_blue:hover {
  background: #1e4db6;
}

.pink:hover {
  background: #ff5b8e;
}

.purple:hover {
  background: #7351ff;
}

.green:hover {
  background: #02c9d6;
}

.light_blue:hover {
  background: #1897f5;
}
