.body_container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  z-index: -999;
}

.body_header {
  height: 7%;
}

.body_body {
  background: #fff;
  height: 86%;
  margin: 0px 30px;
  border-radius: 10px;
}

.body_footer {
  display: flex;
  width: 97%;
  justify-content: flex-end;
}

.icon {
  position: fixed;
  font-size: 2rem;
  margin: 10px 5px;
}
