body {
  margin: 0;
  background: #fafbfb;
}

.app {
  height: 100vh;
}

.active_menu {
  width: 20%;
  height: 100vh;
  box-shadow: 1.5px 1.5px 15px;
}

.menu_icon:hover {
  cursor: pointer;
}

.no_active_menu {
  width: 0;
}
