@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  background: #fafbfb;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.menu_icon {
  margin: 25px 25px;
  font-size: 1.5rem;
}

.menu_icon:hover {
  cursor: pointer;
}

.no_active_menu {
  width: 0;
}
